{% include disqus.html %}
{% include facebook_like.html %}
{% include google_plus_one.html %}
{% include twitter_sharing.html %}
{% include custom/after_footer.html %}

	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="js/jquery.tweet.js"></script>
	<script src="js/jquery.fitvids.js"></script>
	<script src="js/respond.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
	<script src="js/script.js"></script>