		<h4 class="logo"><a href="{{ root_url }}/">{{ site.title }}</a></h4>
		<div class="menubutton"><i class="icon-reorder"></i></div>
		<nav>
			<ul>
				<li><a href="{{ root_url }}/">HOME</a></li>
				<li><a href="{{ root_url }}/about/">ABOUT</a></li>
				<li><a href="{{ root_url }}/blog/archives/">ARCHIVE</a></li>
				<li><a href="{{ root_url }}/contact/">CONTACT</a></li>
				<li class="search"><i class="icon-search"></i><i class="icon-remove"></i></li>
			</ul>
			<div class="search_popup">
				<form>
					<input type="text" value="Search..." onfocus="if (this.value == 'Search...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search...';}"></input>
					<button type="submit">Search</button>
				</form>
			</div>
		</nav>
		<br class="clear" />